* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

body {
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  min-width: 320px;
}


nav, footer {
  /* background-color: rgb(124, 207, 114); */
  /* background-color: rgb(207, 255, 201); */
  background:  rgb(218, 240, 217);

}

nav {
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /* list-style: none; */
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 14px;
  color: black;
  width: 100%;
  height: 100%;
}

nav a:hover, button:hover {
  background:  rgb(202, 223, 201);
  cursor: pointer;
}

header {
  /* background: rgb(251,251,251);
  background: linear-gradient(90deg, rgb(204, 238, 203) 0%, rgb(218, 240, 217) 12%, rgb(194, 236, 195) 100%); */
  /* background: rgb(251,251,251); */
  background: linear-gradient(90deg, rgb(238, 248, 238) 0%, rgb(218, 240, 217) 22%, rgb(175, 211, 176) 100%);
  height: 300px;
  /* width: 100%; */
  padding-top: 75px;
  margin-bottom: 75px;
}

h1 {
  /* color: white; */
  word-spacing: 30px;
  letter-spacing: 15px;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  }


hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 20px;
}

section {
  min-height: 200px;
  padding: 2% 0;
  background-color: white;
  font-size: 16px;
  width: 100%;
}

.headline, .projects {
  /* background-color: rgb(207, 255, 201); */
  background:  rgb(218, 240, 217);
}

.projectInfo {
  border: 2px solid black;
  margin-right: 20px;
}

.projectInfo img {
  width: 100px;
}

.projectTitle {
  font-weight: 700;
}

.projectLanguages {
  word-spacing: 30px;
}

.projectPhoto img {
  width: 80%;
}

.projectPhoto img:hover {
  opacity: 0.5;
}

form {
  width: 300px;
  margin: auto;
  /* background-color: rgb(233, 233, 233); */
  text-align: left;
}

fieldset {
  border: none;
}

label {
/* Not sure why this isn't working */
text-align: left;
margin-right: 60px;
font-weight: 600;
display: block;
}

input, textArea {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  border: 2px solid grey;
  padding: 15px;
}


input {
  height: 20px;
}

textarea {
 /* https://www.sitepoint.com/position-text-labels-on-forms-using-css/ */
  height: 300px;
  margin: auto;
}

::placeholder {
  color: grey;
}

button {
  margin: auto;
  background:  rgb(218, 240, 217);
  color: black;
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 20px;
  padding: 1%;
  border-radius: 10px;
}

footer {

  margin-top: 20px;
  padding: 10px;
  /* position: absolute;
  width: 99%; */
  display: flex;
  justify-content: center;
  }

  footer .bigLogo {
    visibility: collapse;
    /* display: none; */
  }

footer img {
  height: 40px;
}

/* MEDIA QUERIES!! */
@media screen and (min-width: 400px) {

nav a {
  font-size: 18px;
}

header {
  margin: 100px 0px;
  height: 500px;
  padding-top: 150px;
  }

section { 
  font-size: 16px;
}

h1 {
  font-size: 35px;
  }

form {
  width: 350px;
  }
}

@media screen and (min-width: 675px) {

nav a {
  font-size: 22px;
}

h1 {
  font-size: 70px;
  }

section { 
  font-size: 20px;
}

.projectPhotoAndInfo {
  display: flex;
  justify-content: space-around;
  }

.projectPhoto, .projectInfo {
  width: 50%;
  } 

form {
  width: 600px;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer .smallLogo {
  visibility: collapse; 
 }

footer .bigLogo {
  visibility: visible;
  }
}